<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" routerLink="bankingadmin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="explore" routerLinkActive="active">Explore</a>
      </li>
  </ul>
  <!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="bankingadmin">Admin1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products" routerLinkActive="active">Products1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="orders" routerLinkActive="active">Orders1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->
