<p>orders works!</p>
<input [(ngModel)]="name" type="text">
name - {{name}}
<br>
<input [value]="email"  (input)="bindEmail($event)" type="text">
name - {{email}}
<br>
<!-- <input [value]="city"  type="text">
city - {{city}}

<input (input)="bindCountry($event)"  type="text">

 
<input type="text" [value]="country"> -->

<table class="table">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">DOB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userdetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.dob}}</td>
      </tr>
      
    </tbody>
  </table>